@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: bold;

} */

html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    color: #333;
    background-color: #0dd8f3;
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper {
    display: grid;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr 5fr;



}


.sidebar {
    grid-area: 1/1/3/2;
    background-color: #1892d3;
    display: grid;
    grid-template-rows: 5px 1fr 3fr 3fr 150px;
    grid-template-columns: 1fr;
    row-gap: 20px;

}

.sidebar-top {
    display: grid;
    grid-area: 2/1/3/2;
    background-color: #1892d3;
    grid-template-columns: 10px 1fr 2fr 10px;
    grid-template-rows: 5px 8fr 5px;
    column-gap: 8px;
}


.logo {
    display: grid;
    grid-area: 2/2/3/3;
    background-color: #1892d3;
    justify-items: end;
    align-items: center;


}

.logo-image {
    width: 35px;
    height: 35px;
}

.title {
    display: grid;
    grid-area: 2/3/3/4;
    background-color: #1892d3;
    justify-items: start;
    align-items: center;
    font-size: 35px;
    color: white;

}


.sidebar-middle {
    display: grid;
    grid-area: 3/1/4/2;
    background-color: #1892d3;
    grid-template-columns: 45px 1fr 3fr 2px;
    grid-template-rows: 2px repeat(6, 1fr) 2px;
    column-gap: 10px;

}

.home {
    grid-area: 2/3/3/4;
    align-self: center;
    justify-self: start;

}

.home-icon {
    grid-area: 2/2/3/3;
    align-self: center;
    justify-self: end;

}

.profile {
    grid-area: 3/3/4/4;
    align-self: center;
    justify-self: start;

}

.profile-icon {
    grid-area: 3/2/4/3;
    align-self: center;
    justify-self: end;

}

.message {
    grid-area: 4/3/5/4;
    align-self: center;
    justify-self: start;

}

.message-icon {
    grid-area: 4/2/5/3;
    align-self: center;
    justify-self: end;

}

.timepast {
    grid-area: 5/3/6/4;
    align-self: center;
    justify-self: start;

}

.timepast-icon {
    grid-area: 5/2/6/3;
    align-self: center;
    justify-self: end;

}

.todolist {
    grid-area: 6/3/7/4;
    align-self: center;
    justify-self: start;

}

.todolist-icon {
    grid-area: 6/2/7/3;
    align-self: center;
    justify-self: end;

}

.group {
    grid-area: 7/3/8/4;
    align-self: center;
    justify-self: start;

}

.group-icon {
    grid-area: 7/2/8/3;
    align-self: center;
    justify-self: end;

}

.sidebar-middle>div {
    color: white;
    font-size: 20px;
}













.sidebar-bottom {
    display: grid;
    grid-area: 4/1/5/2;
    background-color: #1892d3;
    grid-template-columns: 45px 1fr 3fr 2px;
    grid-template-rows: 2px repeat(6, 1fr) 2px;
    column-gap: 10px;

}

.settings {
    grid-area: 2/3/3/4;
    align-self: center;
    justify-self: start;

}

.settings-icon {
    grid-area: 2/2/3/3;
    align-self: center;
    justify-self: end;

}

.help {
    grid-area: 3/3/4/4;
    align-self: center;
    justify-self: start;

}

.help-icon {
    grid-area: 3/2/4/3;
    align-self: center;
    justify-self: end;

}

.shield {
    grid-area: 4/3/5/4;
    align-self: center;
    justify-self: start;

}

.shield-icon {
    grid-area: 4/2/5/3;
    align-self: center;
    justify-self: end;

}




.sidebar-bottom>div {
    color: white;
    font-size: 20px;
}




img {
    height: 22.5px;
    width: 22.5px;
}









.header {
    display: grid;
    grid-area: 1/2/2/3;
    background-color: rgb(255, 255, 255);
    grid-template-rows: repeat(auto-fill, minmax(65px, 75px));


}

.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.header-top-left {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 15px 1fr 6fr 15px;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;

}

.header-top-left>img {
    grid-area: 2/2/3/3;
    width: 20px;
    height: 20px;
    padding: 0;
    justify-self: end;
}


input[type="search"] {
    background-color: #e2e8f0;
    grid-area: 2/3/3/4;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    border: none;
    justify-self: start;
    letter-spacing: 1px;
    font-weight: 500;


}

input[type="search"]:focus {}

input[type="search"]::placeholder {
    color: grey;
    content: "Search";
    padding: 6px;

}





.header-top-right {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 15px repeat(3, 1fr) 15px;
    align-items: center;
    justify-items: center;
    gap: 40px;

}


.item-1 {
    grid-area: 1/2/2/3;
    height: 50px;
    /* width: 50px; */
    background-color: transparent;
    border-radius: 5px;
    justify-self: stretch;
    min-width: 50px;
    display: grid;


}

.notification {
    height: 50px;
    width: 35px;
    align-self: center;
    justify-self: center;
}

.item-2 {
    grid-area: 1/3/2/4;
    /* height: 50px; */
    /* width: 75px; */
    background-color: transparent;
    /* border-radius: 5px; */
    justify-self: ce;
    /* min-width: 75px; */
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: grid;

}



.item-3 {
    grid-area: 1/4/2/5;
    height: 50px;
    /* width: 100px; */
    background-color: transparent;
    border-radius: 5px;
    justify-self: stretch;
    min-width: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
    color: black;
    font-size: 22px;
    letter-spacing: 1px;
}

.header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.admin {
    display: grid;
    grid-template-columns: 15px 1fr 6fr 15px;
    grid-template-rows: 10px repeat(2, 1fr) 10px;
    align-items: center;
    justify-items: center;
    column-gap: 7.5px
}

.picture {
    grid-area: 2/2/4/3;
    /* height: 53px; */
    /* width: 85px; */
    background-color: transparent;
    border-radius: 5px;
    /* justify-self: stretch; */
    align-self: center;
    /* min-width: 85px; */

    height: 60px;
    width: 60px;
    border-radius: 50%;
    justify-self: end;
    display: grid;

}

.admin-icon {
    height: 65px;
    width: 65px;
    align-self: center;
    justify-self: center;
}

.admin-icon-1 {
    height: 55px;
    width: 55px;
    align-self: center;
    justify-self: center;
}

.st-1 {
    grid-area: 2/3/3/4;
    height: 20px;
    width: 100px;
    background-color: transparent;
    border-radius: 5px;
    justify-self: start;
    display: grid;
    align-self: flex-end;
    padding-left: 3px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;

}

.st-2 {
    grid-area: 3/3/4/4;
    height: 20px;
    width: 200px;
    background-color: transparent;
    border-radius: 5px;
    justify-self: start;
    display: grid;
    align-self: flex-start;
    padding-left: 3px;
    font-size: 16px;
    font-weight: bolder;
}



.buttons {
    display: grid;
    grid-template-columns: 10px repeat(3, 1fr) 10px;
    grid-template-rows: 1fr 3fr 1fr;
    column-gap: 20px;

}

.buttons>button {
    font-family: "Roboto", sans-serif;
    border-radius: 50px;
    background-color: #1892d3;
    justify-self: stretch;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);


}

.btn-1 {
    grid-area: 2/2/3/3;

}

.btn-2 {
    grid-area: 2/3/3/4;
}

.btn-3 {
    grid-area: 2/4/3/5;
}



.main {
    display: grid;
    grid-area: 2/2/3/3;
    background-color: #e2e8f0;
    grid-template-columns: 5px 3.5fr 1fr 5px;
    grid-template-rows: 5px 1fr 1fr 5px;
    gap: 3px;
}

.your-projects {
    display: grid;
    grid-area: 2/2/4/3;
    background-color: #e2e8f0;
    grid-template-columns: 1fr;
    grid-template-rows: 5px 1fr 20fr 5px;
    grid-template-columns: 1px 1fr 5px;
    gap: 5px;
}

.your-projects-header {
    display: grid;
    grid-area: 2/2/3/3;
    align-self: center;
    justify-self: start;
    color: rgb(0, 0, 0);
    padding-left: 1px;
    letter-spacing: 0.4px;
}

.your-projects-body {
    grid-area: 3/2/4/3;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 15px;
    row-gap: 20px;

}

.card {
    display: grid;
    background-color: #ffffff;
    grid-template-columns: 7px 20px 1fr;
    grid-template-rows: 20px 1fr 5fr 1fr 15px;
    border-radius: 8px;
    color: black;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);


}

.vertical-stroke {
    grid-area: 1/1/-1/2;
    background-color: #facc15;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.card-heading {
    grid-area: 2/3/3/4;
    color: black;
    padding-left: 4px;
}

.card-para {
    grid-area: 3/3/4/4;
    color: black;
    padding-left: 4px;
    letter-spacing: 0.25px;
    font-weight: 400;


}

.actions {
    grid-area: 4/3/5/4;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    color: white;
    align-items: center;
    justify-items: center;
    column-gap: 4px;
}

.action1 {
    grid-area: 1/5/2/6;
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;

}

.action2 {
    grid-area: 1/6/2/7;
    background-color: yellowgreen;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.action3 {
    grid-area: 1/7/2/8;
    background-color: rgb(11, 145, 229);
    height: 20px;
    width: 20px;
    border-radius: 50%;

}








.announcements {
    display: grid;
    grid-area: 2/3/3/4;
    background-color: #e2e8f0;
    grid-template-rows: 1fr 10fr 10px;
    grid-template-columns: 1fr;
    row-gap: 5px;
}

.announcements-header {
    display: grid;
    grid-area: 1/1/2/2;
    align-self: center;
    justify-self: start;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    letter-spacing: 0.4px;

}

.announcements-body {
    display: grid;
    grid-area: 2/1/3/2;
    background-color: rgb(255, 255, 255);
    grid-template-rows: 10px 1fr 2px 1fr 2px 1fr 2px 10px;
    grid-template-columns: 15px 1fr 15px;
    gap: 1px;
    border-radius: 15px;
}



.announcement1 {
    display: grid;
    grid-area: 2/2/3/3;
    background-color: #e2e8f07d;
    grid-template-rows: 1fr 3fr;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;


}

.title1 {
    grid-area: 1/1/2/2;
}

.para1 {
    grid-area: 2/1/3/2;
}

.line1 {
    grid-area: 3/2/4/3;
    background-color: rgba(0, 0, 0, 0.396);
}



.announcement2 {
    display: grid;
    grid-area: 4/2/5/3;
    background-color: #e2e8f07d;
    grid-template-rows: 1fr 3fr;

}

.title2 {
    grid-area: 1/1/2/2;
}

.para2 {
    grid-area: 2/1/3/2;
}

.line2 {
    grid-area: 5/2/6/3;
    background-color: rgba(0, 0, 0, 0.396);
}




.announcement3 {
    display: grid;
    grid-area: 6/2/7/3;
    background-color: #e2e8f07d;
    grid-template-rows: 1fr 3fr;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.title3 {
    grid-area: 1/1/2/2;
}

.para3 {
    grid-area: 2/1/3/2;
}

/* .line3 {
    grid-area: 7/2/8/3;
    background-color: black;
} */

div[type="title"] {
    font-size: 12px;
    padding-left: 5px;
    padding-top: 3px;
    font-weight: bold;
    letter-spacing: 0.4px;
}

div[type="para"] {
    font-size: 12px;
    padding-left: 5px;
    letter-spacing: 0.5px;
}




.trending {
    display: grid;
    grid-area: 3/3/4/4;
    background-color: #e2e8f0;
    grid-template-rows: 1fr 10fr 10px;
    grid-template-columns: 1fr;
    row-gap: 5px;

}


.trending-header {
    display: grid;
    grid-area: 1/1/2/2;
    align-self: center;
    justify-self: start;
    color: rgb(0, 0, 0);
    padding-left: 20px;
    letter-spacing: 0.4px;

}

.trending-body {
    display: grid;
    grid-area: 2/1/3/2;
    background-color: rgb(255, 255, 255);
    grid-template-rows: 1px repeat(4, 1fr) 1px;
    grid-template-columns: 15px 1fr 15px;
    gap: 8px;
    border-radius: 15px;


}

.trending1 {
    grid-area: 2/2/3/3;
    background-color: #e2e8f0ad;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}


.title4 {
    grid-area: 1/2/2/3;
}

.para4 {
    grid-area: 2/2/3/3;
}


.t1-icon {
    grid-area: 1/1/3/2;
    height: 37.5px;
    width: 37.5px;
    align-items: start;
    justify-self: center;
    background-color: yellow;
    border-radius: 50%;



}

.trending2 {
    display: grid;
    grid-area: 3/2/4/3;
    background-color: #e2e8f0ad;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
}


.title5 {
    grid-area: 1/2/2/3;

}

.para5 {
    grid-area: 2/2/3/3;

}

.t2-icon {
    grid-area: 1/1/3/2;
    height: 37.5px;
    width: 37.5px;
    align-items: start;
    justify-self: center;
    background-color: yellow;
    border-radius: 50%;

}

.trending3 {
    display: grid;
    grid-area: 4/2/5/3;
    background-color: #e2e8f0ad;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
}

.title6 {
    grid-area: 1/2/2/3;

}


.para6 {
    grid-area: 2/2/3/3;

}

.t3-icon {
    grid-area: 1/1/3/2;
    height: 37.5px;
    width: 37.5px;
    align-items: start;
    justify-self: center;
    background-color: yellow;
    border-radius: 50%;

}

.trending4 {
    display: grid;
    grid-area: 5/2/6/3;
    background-color: #e2e8f0ad;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.title7 {
    grid-area: 1/2/2/3;

}


.para7 {
    grid-area: 2/2/3/3;

}

.t4-icon {
    grid-area: 1/1/3/2;
    height: 37.5px;
    width: 37.5px;
    align-items: start;
    justify-self: center;
    background-color: yellow;
    border-radius: 50%;

}